@supports ((-webkit-backdrop-filter: blur(6px)) or (backdrop-filter: blur(6px))) {

	header .header-flex .search-bar input[type=text]{
	    background-color: rgba(255, 255, 255, .2);
	    -webkit-backdrop-filter: blur(6px);
	    backdrop-filter: blur(6px);
	  }

	header .header-flex .bell-icon{
	    background-color: rgba(255, 255, 255, .2);

	    -webkit-backdrop-filter: blur(6px);
	    backdrop-filter: blur(6px);

	     
	    
	}

	header .header-flex .settings-icon{

	  	background-color: rgba(255, 255, 255, .2);

	    -webkit-backdrop-filter: blur(6px);
	    backdrop-filter: blur(6px);

	}

	/*.farmers-products .farmer-product-pagination .pagination-control .control{
		background-color: red;
	    -webkit-backdrop-filter: blur(6px);
	    backdrop-filter: blur(6px);
	
	}*/
}