@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300,500,600,700&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



.column20{
  float:left;
  width:10%;
  margin-top:30px;
  margin-left:90px
}

.column21{
  float:left;
  width:5%;
  margin-top:30px
}


.activeMenu{
  border-radius:60px;
  background:white;
  color:orange;
  padding:10px;
  position:relative;
  height:35px;
}




.column17{
  float:left;
  padding:16px;
  width:16%;
  font-size:13px
}






.circle{
  border-radius:400px;
  color:black;
  opacity:0.4
}



.number{
  font-size:11px
}


.logOut{
  padding-left:300px
}

.dashboard{
  margin:30px
}


.summary{
  font-weight:600;
  font-size:20px;
  margin-bottom:2px

}

.farmers-product{
  margin-right: 40px;
  margin-left: 40px;
  margin-top:5px
}


.logouticon{
  padding-left:28px;
  margin-right:-20px;
  padding-top:30px;
  padding-bottom:-30px;
}



.navigation{
  background:"#f2a133"
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


