@media only screen and (max-width: 1201px) {
    .search{
		padding-left:80%
	}
	.openMenu{
		text-align:end;
		position:relative;
		align-content: flex-end;
		padding-left:100%
	}

	.columnmobileNav{
		float:left;
		width:40%;
		margin-top:20px;
		margin-left:50px;
		margin-bottom:30px;
	  }
	
.menu{
	background-color: #298525;
}

	/* The Overlay (background) */
	.overlay {


	  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
	  height: 100%;
	  width: 100%;
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  left: 0;
	  top: 0;
	  background-color: #298525; /* Black fallback color */
	  background-color:#298525; /* Black w/opacity */
	  overflow-x: hidden; /* Disable horizontal scroll */
	  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
		 
	}

	/* Position the content inside the overlay */
	.overlay-content {
	  position: relative;
	  top: 15%; /* 25% from the top */
	  width: 100%; /* 100% width */
	  text-align: left; /* Centered text/links */
	  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
	
	  padding-left: 30px;
	  font-family: Montserrat-Regular;
	  font-size: 16px;

	  margin-bottom: 500px;
	}

	.overlay .logout{

		padding-left: 20px;
		color: #FFFFFF;
		font-size: 16px;

	}

	.overlay .logout .logout-icon{
		margin-left: 20px;
	}

	/* The navigation links inside the overlay */
	.overlay a {

	  position: relative;
	  top:-50px;
	  padding: 8px;
	  text-decoration: none;
	  font-size: 16px;
	  color: #FFFFFF;
	  display: block; /* Display block instead of inline */
	  transition: 0.3s; /* Transition effects on hover (color) */

	  line-height: 40px;
	}

	.overlay a small{
		font-size: 13px;
    }

    .overlay .active{

    	color: #F2A133;
    }

	/* When you mouse over the navigation links, change their color */
	.overlay a:hover, .overlay a:focus {
	  color: #f1f1f1;
	}

	/* Position the close button (top right corner) */
	.overlay .closebtn {
	  position: absolute;
	  top: 10px;
	  right: 45px;
	  font-size: 30px;
	}

	.overlay .farmz2u-logo{

		  position: absolute;
		  top: 20px;
		  right: 70%;
		  font-size: 60px;
	}

	.overlay .search{

		 position: absolute;
		 top: 30px;
		 right: 100px;
		 font-size: 60px;

	}
}


@media only screen and (max-width: 600px) {
    .search{
		padding-left:17px
	}
	.openMenu{
		padding-left:30px
	}

	.columnmobileNav{
		float:left;
		width:40%;
		margin-top:20px;
		margin-left:17px;
		margin-bottom:12px
	  }
	
.menu{
	background-color: #298525;
}

	/* The Overlay (background) */
	.overlay {


	  /* Height & width depends on how you want to reveal the overlay (see JS below) */    
	  height: 100%;
	  width: 100%;
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  left: 0;
	  top: 0;
	  background-color: #298525; /* Black fallback color */
	  background-color:#298525; /* Black w/opacity */
	  overflow-x: hidden; /* Disable horizontal scroll */
	  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
		 
	}

	/* Position the content inside the overlay */
	.overlay-content {
	  position: relative;
	  top: 15%; /* 25% from the top */
	  width: 100%; /* 100% width */
	  text-align: left; /* Centered text/links */
	  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
	
	  padding-left: 30px;
	  font-family: Montserrat-Regular;
	  font-size: 16px;

	  margin-bottom: 500px;
	}

	.overlay .logout{

		padding-left: 20px;
		color: #FFFFFF;
		font-size: 16px;

	}

	.overlay .logout .logout-icon{
		margin-left: 20px;
	}

	/* The navigation links inside the overlay */
	.overlay a {

	  position: relative;
	  top:-50px;
	  padding: 8px;
	  text-decoration: none;
	  font-size: 16px;
	  color: #FFFFFF;
	  display: block; /* Display block instead of inline */
	  transition: 0.3s; /* Transition effects on hover (color) */

	  line-height: 40px;
	}

	.overlay a small{
		font-size: 13px;
    }

    .overlay .active{

    	color: #F2A133;
    }

	/* When you mouse over the navigation links, change their color */
	.overlay a:hover, .overlay a:focus {
	  color: #f1f1f1;
	}

	/* Position the close button (top right corner) */
	.overlay .closebtn {
	  position: absolute;
	  top: 10px;
	  right: 45px;
	  font-size: 30px;
	}

	.overlay .farmz2u-logo{

		  position: absolute;
		  top: 20px;
		  right: 70%;
		  font-size: 60px;
	}

	.overlay .search{

		 position: absolute;
		 top: 30px;
		 right: 100px;
		 font-size: 60px;

	}
}





	/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
	@media screen and (max-height: 450px) {
	  .overlay a {font-size: 20px}
	  .overlay .closebtn {
	    font-size: 40px;
	    top: 15px;
	    right: 35px;
	  }
	}

